body, html {
    height: 100%
}

.nav {
    background-color: white;
    overflow: hidden;
    text-align:center;
}

.logo-left {
    background-image: url("../images portfolio/logo12.png");
    position: absolute;
    height: 71px;
    width:70px;
    left:86px;
    top:10px;
    box-shadow:insert 0px 4px 4px rgba(0,0,0,0.25);
    transform: rotate(-3.75deg);
}

.topnav-right {
    float:right;
}

.topnav-right a {
    background-color: white;
    color: black;
    padding: 14px 16px;
    position:top;
    height: 71px;
    font-size: 20px;
    text-decoration: none;
    font-family: Josefin Sans; 
}

.topnav-right a:hover {
    background-color:white;
    color: #F2CF59;
    font-size: 20px;
}

.header {
    padding: 60px;
    text-align: center;
    background: transparent;
    color: black;
    /* font-size: 30px; */
}

#portfolio-box-main {
    background-image: url("../images portfolio/boxframe.png");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    background: transparent;
    color: black;
  }

  h1 {
    font-family: Josefin Sans; 
    font-weight: 1000;
    font-size:48px;
  }

  h2 {
    font-family: Josefin Sans; 
    font-size: 40px;
    font-weight: 300;
    margin-top: 15vh;
  }

  h3 {
      font-size: 40px;
      font-weight: 300;
      font-family: Josefin Sans;
      display: inline-block;
  }
 

.first-txt {
    position: absolute;
    top: 17px;
    left: 50px;
}

.second-txt {
    position: absolute;
    bottom: 20px;
    left: 50px;
}

.centeredArrow {
    position: absolute;
    top: 94%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    background: transparent;
    color: black;
  }



.homescreenbackground {
    background-image:url("../images portfolio/Home screen background (1).png");
    height:100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 40px; 
}


.arrow {
    box-sizing: border-box;
    height: 2vw;
    width: 2vw;
    border-style: solid;
    border-color:rgb(214, 145, 16);
    border-width: 0 1px 1px 0;
    transform:rotate(45deg);
    transition: border-width 150ms ease-in-out;
    position: absolute;
    
}

.arrow:hover {
    border-color:#F2CF59; 
    border-bottom-width: 4px;
    border-right-width: 4px;
  }
  
  .container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
  #full {
    height: 100vh;
  }

  
  /* Bottom right text */
  .bottom-right {
    position: absolute;
    bottom: 8px;
    right: 16px;
  }
  
